extends layout

block content
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-target=".nav-collapse",data-toggle="collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Laner.dm
        div.nav-collapse
          ul.nav
            li.active
              a(href="#") 主页
            li
              a(href="#") 我的日志
            li
              a(href="#") 所有日志
            li
              a(href="#") 关注日志
        form.navbar-form.pull-left
          input.search-query.span3(type="text",placeholder="Search")
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown",href="#") 设置
              b.caret
            ul.dropdown-menu
              li
                a(href="#") 登录
              li.divider
              li
                a(href="#") 注册
  div.container
    div.row.show-grid
      ul.breadcrumb
        li
          a(href="#") 首页
          span.divider /
        li.active 添加笔记
    div.row.show-grid
      div.span8
        form.form-horizontal
        fieldset
          div.control-group
            label.control-label(for="title") 标题
            div.controls
              input.input-xlarge(type="text",id="title",name="title",placeholder="你的标题")
              p.help-block 字数控制在10到100个之间
            label.control-label(for="title") 内容
            div.controls
              textarea.input-xlarge(rows="15",id="content",name="content",placeholder="笔记内容")
              p.help-block 字数控制在10到100个之间
              
      div.span4
        div.well 
          h4 markdown 语法参考
          hr
          ul.unstyled
            li 换行：两个空格
            li 分段：一个空行
            li 斜体：*斜体*
            li 粗体：**粗体**
            li 代码：行首四个空格
            li 链接：[文字](url)
            li 图片：![alt 文字](url)热门日志
    hr
    footer
      p &copy; Company 2012
          

                

    
