extends layout

block content
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-target=".nav-collapse",data-toggle="collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/") #{title}
        div.nav-collapse
          ul.nav
            - config.site_headers.menu.forEach(function(menu){
              li
                a(href='!{menu.url}') !{menu.name}
            - })
        form.navbar-form.pull-left
          input.search-query.span3(type="text",placeholder="Search")
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown",href="#") 设置
              b.caret
            ul.dropdown-menu
              li
                a(href="/user/login") 登录
              li.divider
              li
                a(href="/user/register") 注册
              li
                a(href="/user/logout") 注销
  block content-detail
          

                

    
