<%- partial("head") %>
<div class="container">
  <div class="row show-grid">
    <div class="span8">
      <div class="row panel">
        <div class="ann_h1"><a href="http://douban.fm/">douban.fm</a></div>
        <div class="ann_h2">
        <div class="radio">
        <iframe src="http://douban.fm/partner/baidu/doubanradio">
        </iframe>
        </div>
        </div>
      </div>
      
      <div class="row panel">
         <!-- 文章内容开始 -->
          <div class="post">
            <h3 class="entry-title">
              <a rel="bookmark" title="指向我的文章" href="#">指向我的文章</a>
            </h3>
            <div class="entry-meta">
              <span class="author vcard">
                <a class="url fn n" title="查看所有admin发布的文章" href="#">admin</a>于
                <a href="bookmark" title="下午 1:11" href="#">
                   <span class="entry-date">2012-09-19 下午1:11</span>
                </a>
                说到
              </span>
            </div>
            <div class="entry-content">
              <!-- <a href="#"><img class="entry-img" src="#"></a> -->
              我去我去我去我去我去我去我去我去我去我去我去我去我去我去
              我去我去我去我去我去我去我去我去我去我去我去我去我去我去
              我去我去我去我去我去我去我去我去我去我去我去我去我去我去
              我去我去我去我去我去我去我去我去我去我去我去我去我去我去
            </div>
            <div class="entry-utility pull-right">
              <span class="edit-link">
                <span class="number">12</span> 查看
              </span>
              <span class="meta-sep"> | </span>
              <span class="comments-link"> <span class="number"> 0 </span> 回应 </span>
              <span class="meta-sep"> | </span>
              <span class="edit-link">
                <a class="post-edit-link" title="阅读全文" href="#">阅读全文</a>
              </span>
            </div>
          </div>
          <!-- 文章内容结束 -->
          <div class="ul"></div>
           <div class="pagination">
           <ul>
          <li><a href="#">Prev</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">Next</a></li>
          </ul>
        </div>
          </div>
        
        
       
        
    </div>
    <div class="span4">
      <form class="panel form-vertical" action="#" method="post",onsubmit="return dologin('/user/login')">
        <div class="header">登录</div>
          <div class="alert alert-error" id="alert-error" style="display:none"></div>
          <i class="icon-user" ></i>
          <input class="input-large" type="text" placeholder="Email" name="email" id="email">
          <br/>
          <i class="icon-lock" ></i>
          <input class="input-large" type="password" placeholder="Password" name="password" id="password">
          <button class="btn" type="submit">登录</button>
          <a href="#">&nbsp;注册</a>
        </form>
          <div class="panel">
            <div class="header">热门日记</div>
            <ul class="unstyled">
              <li><a href="#">Node.js简单介绍并实现一个简单的Web MVC框架</a></li>
              <li><a href="#">websocket与node.js的完美结合 </a></li>
            </ul>       
        </div>
        <div class="panel">
          <div class="header">活跃用户 </div>
        </div>
        <div class="panel">
          <div class="header">相关站点</div>
        </div>
      </div>
  
  </div>
  <hr/>
<footer>
    <p>&copy; Company 2012</p>
</footer>
</div>


          

                

    
