extends layout

block content
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-target=".nav-collapse",data-toggle="collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Laner.dm
        div.nav-collapse
          ul.nav
            li.active
              a(href="#") 主页
            li
              a(href="#") 我的日志
            li
              a(href="#") 所有日志
            li
              a(href="#") 关注日志
        form.navbar-form.pull-left
          input.search-query.span3(type="text",placeholder="Search")
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown",href="#") 设置
              b.caret
            ul.dropdown-menu
              li
                a(href="#") 登录
              li.divider
              li
                a(href="#") 注册
  div.container
    div.hero-unit
      h1 Hello,world!
      p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
      p
        a.btn.btn-primary.btn-large Learn more &raquo;
    div.row.show-grid
      div.span8
        div.well
          h2 公告区
          h3 我最爱的女孩--兰儿
        div.row
          h3 最新日志
      div.span4
        form.well.form-vertical
          strong 登录
          hr
          input.input-large(type="text",placeholder="Email")
          input.input-large(type="password",placeholder="Password")
          label.checkbox Remember me
            input(type="checkbox") 
          button.btn(type="sumbit") 登录
          a(href="#")注册
        div
          div.well 
            strong 热门日志
            hr
            ul
              li 
                a(href="#") Node.js简单介绍并实现一个简单的Web MVC框架
              li
                a(href="#") websocket与node.js的完美结合                
        div.well
          h4 活跃用户 
        div.well
          h4 相关站点
    hr
    footer
      p &copy; Company 2012
          

                

    
