extends layout

block content
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-target=".nav-collapse",data-toggle="collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Laner.dm
        div.nav-collapse
          ul.nav
            li.active
              a(href="#") 主页
            li
              a(href="#") 我的日志
            li
              a(href="#") 所有日志
            li
              a(href="#") 关注日志
        form.navbar-form.pull-left
          input.search-query.span3(type="text",placeholder="Search")
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown",href="#") 设置
              b.caret
            ul.dropdown-menu
              li
                a(href="#") 登录
              li.divider
              li
                a(href="#") 注册
  div.container
    div.row.show-grid
      div.span8
        div.well
          h2 公告区
          h3 我最爱的女孩--兰儿
        div.row
          h3 最新日志
          hr
          div.Diary-wrap
            div.Diary-row
              div.Diary-left
                a(title="胡椒",href="/profile/501f47c420e90b041c000001")
                   img(alt="胡椒",src="http://www.tuer.me/avatar/501f47c420e90b041c000001")
              div.Diary-right
                h5
                  a(href="/profile/501f47c420e90b041c000001/diary/50322dfcd05a64d97f000001")
              div.Diary-content
                img(src="http://img.tuer.me/images/150/9cc31c49ea40f2505ab2840cc617e54e")收到电话，那开发小伙说在上海漂泊了好久，想家。看公司年底形式，不定年底回大连，说有空出来聚聚。
              div.bar 2012-8-20 20:30:52 胡椒 0回应 
      div.span4
        form.well.form-vertical
          strong 登录
          hr
          input.input-large(type="text",placeholder="Email")
          input.input-large(type="password",placeholder="Password")
          label.checkbox Remember me
            input(type="checkbox") 
          button.btn(type="sumbit") 登录
          a(href="#")注册
        div
          div.well 
            strong 热门日志
            hr
            ul
              li 
                a(href="#") Node.js简单介绍并实现一个简单的Web MVC框架
              li
                a(href="#") websocket与node.js的完美结合                
        div.well
          h4 活跃用户 
        div.well
          h4 相关站点
    hr
    footer
      p &copy; Company 2012
          

                

    
