<%- partial("head",{userinfo:userinfo,"config":config}) %> 
<script type="text/javascript" src="/javascripts/jquery.metadata.js"></script>
<!--<script type="text/javascript" src="/javascripts/jquery.nailthumb.1.0.min.js"></script>-->

<div class="container">
  <div class="row show-grid">
    <div class="span8">
      <div class="row panel" id="index-notice">

      </div>
      
      <div class="row panel">
         <!-- 文章内容开始 -->
         <% 
          if(diarys && diarys.length > 0){
          for(var i = 0; i < diarys.length; i++) {
             var diary = diarys[i];
             var view_num = comment_num = 0;
             
             if(diary['view_num']){
                 view_num = diary['view_num'];
             }
             
             if(diary['comment_num']){
                 comment_num = diary['comment_num'];
             }
             if(diary.up_img != "" && diary.up_img_thumb == ""){
                continue;
             }
         %>
          <div class="post">
            <div class="entry-title">
              <a rel="bookmark" title="<%= diary['title'] %>" href="/diary/<%= diary._id %>/view"><%= diary['title'] %></a>
            </div>
            <div class="entry-meta">
              <span class="author vcard">
                <%= diary['author_nickname'] %>于
                   <span class="entry-date"><%= diary['create_date'] %></span>
                说到
              </span>
            </div>
            <div class="entry-content">

              <% if(diary['up_img_thumb'] ){ %>
                <div class="nailthumb-container" style="float:left;">
                  <img class="entry-img" src="<%- diary['up_img_thumb'] %>">
                </div>
              <%}%>
              <%- diary['summary'] %>
            </div>
           <div class="entry-utility pull-right">
              <span class="edit-link">
                <span class="badge"><%= view_num%></span> 查看
              </span>
              <span class="meta-sep"> | </span>
              <span class="comments-link"> <span class="badge"><%= comment_num%></span> 回应 </span>
              <span class="meta-sep"> | </span>
              <span class="edit-link">
                <a class="post-edit-link" title="阅读全文" href="/diary/<%= diary._id %>/view">阅读全文</a>
              </span>
            </div>
          </div>
          <div class="ul">&nbsp;</div>
          <% }
          }
           %>
          <!-- 文章内容结束 -->
<script type="text/javascript">
    //jQuery('.nailthumb-container').nailthumb({width:100,height:100,method:'resize',fitDirection:'top left'});
</script>
           <%- partial("page",{pageData:pageData,path:req_path}) %>
          </div>
    </div>
    <div class="span4">
       <%- partial("indexside",{"userinfo":userinfo, "config":config, "hot_diarys":hot_diarys,
          "active_users":active_users}) %>
    </div>
  

</div>
<hr/>
<%- partial("footer",{"config":config}) %>
</div>
<script type="text/javascript" src="/javascripts/ejs_production.js"></script>
<script type="text/javascript">
$(function(){
   render_index_notice();
});
</script>

