<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
<meta charset="utf-8">
<title>晓知+</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="vagasnail@gmail.com">
<meta name="description" content="laner diary">
<link href="/public/images/favicon.ico" type="image/x-icon" rel="icon">
<link href="/public/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css" />
<script type="text/javascript" src="/public/javascripts/jquery-1.8.0.min.js"></script>
<!-- 
<script type="text/javascript" src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=" charset="utf-8"></script>
 -->
</head>
<body>
<%- content %>
<script type="text/javascript" src="/public/javascripts/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="/public/javascripts/laner.js"></script>
</body>
</html>