<div class="panel">
  <div class="header">作者</div>
    <%
    var avatar_url = "";
    
     if(userinfo.avatar.indexOf("default") == -1){
      avatar_url = userinfo.avatar; 
     }else{
      avatar_url = config.user_config.avatar_url+userinfo.avatar;
     }
  %>
      <div style="height:50px;">

      <div id="uinfo_div" class="nailthumb-container" style="float:left">
            <a href="javascript:void(0)"><img class="entry-img" src="<%= avatar_url%>"></a>
      </div>
            <div class="userinfo">
                <i class="icon-flag"></i>&nbsp;<%= userinfo.score%>
            </div>
            <div class="user-nickname"><%= userinfo.nickname%></div>
      </div>
      <div class="proverbs">
        <%= userinfo.motto%>
      </div>
</div>

<div class="panel">
  <div class="header">作者其它日志</div>
</div>

<div class="panel">
  <div class="header">作者感兴趣的日志</div>
</div>