<%- partial("head",{userinfo:userinfo,"config":config}) %>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.Jcrop.css" />
<link href="/uploadify/uploadify.css" type="text/css" rel="stylesheet" />
<%
var motto = "";
if(userinfo.motto){
   motto = userinfo.motto;
}
%>

<div class="container">
  <div class="row show-grid">
    <div class="span12">
        <div id="alert-success" class="alert alert-success" style="display:none">
          <button class="close" data-dismiss="alert" onclick="close_alter_success()">x</button>
          <div id="success_msg"></div>
        </div>
        <div id="alert-error" class="alert alert-error" style="display:none">
          <button class="close" data-dismiss="alert" onclick="close_alter_error()">x</button>
          <div id="error_msg"></div>
        </div>
        <div class="tabbable" id="setting_tab"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">基本资料</a></li>
			    <li><a href="#tab2" data-toggle="tab">修改密码</a></li>
			    <li><a href="#tab3" data-toggle="tab">修改头像</a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab1" >
			    <form class="form-horizontal" method="POST" action="" onsubmit="return doupdate_info('/user/setting/update_info')">
			     
                   <fieldset>
                   
			          <div class="control-group">
		                  <label class="control-label" for="email">Email</label>
		                  <div class="controls">
		                    <input class="input input-xlarge" type="text" id="email" name="email" disabled placeholder="Email" value="<%= userinfo.email%>">
		                    <small class="help-block">字数控制在<%= user_config.email_size[0]%>到<%= user_config.email_size[1]%>个之间</small>
		                  </div>
		               </div>
		               <div class="control-group">
		                  <label class="control-label" for="nickname">昵称</label>
		                  <div class="controls">
		                    <input class="input input-xlarge" type="text" id="nickname" name="nickname" placeholder="昵称" value="<%= userinfo.nickname%>">
		                    <small class="help-block">字数控制在<%= user_config.nickname_size[0]%>到<%= user_config.nickname_size[1]%>个之间</small>
		                  </div>
		               </div>
		               <div class="control-group">
		                  <label class="control-label" for="motto">箴言</label>
		                  <div class="controls">
                            <textarea class="input-xlarge" id="motto" name="motto" placeholder="箴言" style="width:82%;height:80px;"><%= motto%></textarea>
		                    <small class="help-block">字数控制在<%= user_config.motto_size[0]%>到<%= user_config.motto_size[1]%>个之间</small>
		                  </div>
	                  </div>
	                  <div class="form-actions">
                          <button class="btn btn-primary" type="submit">更新</button>&nbsp;&nbsp;
                      </div>
	                  </fieldset>
	                </form>
			    </div>
			    <div class="tab-pane" id="tab2">
			       <form class="form-horizontal" method="POST" action="" onsubmit="return doupdate_pass('/user/setting/update_pass')">
			       <input type="hidden" value="update_pass" name="action" />
                   <fieldset>
			          <div class="control-group">
		                  <label class="control-label" for="password">当前密码</label>
		                  <div class="controls">
		                    <input class="input input-xlarge" type="password" id="cur_password" name="cur_password" placeholder="当前密码" >
		                  </div>
		              </div>
		              <div class="control-group">
		                  <label class="control-label" for="new_password">新密码</label>
		                  <div class="controls">
		                    <input class="input input-xlarge" type="password" id="new_password" name="new_password" placeholder="新密码">
		                    <small class="help-block">字数控制在<%= user_config.password_size[0]%>到<%= user_config.password_size[1]%>个之间</small>
						  </div>
		              </div>
		              <div class="control-group">
		                  <label class="control-label" for="re_new_password">重复新密码</label>
		                  <div class="controls">
		                    <input class="input input-xlarge" type="password" id="re_new_password" name="re_new_password" placeholder="重复新密码">
		                  </div>
	                  </div>
	                  <div class="form-actions">
                          <button class="btn btn-primary" type="submit">更新</button>&nbsp;&nbsp;
                      </div>
	                  </fieldset>
	                </form>
			    </div>
			    <div class="tab-pane" id="tab3">
			     <form class="form-horizontal" method="POST" action="" onsubmit="return doupdate_avatar('/user/setting/update_avatar')">
			     <input type="hidden" value="update_avatar" name="action" />
                   <fieldset>
			          <div class="control-group">
		                  <label class="control-label" for="email">当前头像</label>
		                  <div class="controls">
						  <%
						    var avatar_url = "";
							
						     if(userinfo.avatar.indexOf("default") == -1){
							    avatar_url = userinfo.avatar; 
							 }else{
							    avatar_url = config.user_config.avatar_url+userinfo.avatar;
							 }

                             var test_url = config.diary_url + "0000.jpg";
						  %>
		                    <img id="avatar_img" src="<%= avatar_url%>">
		                  </div>
		              </div>
		              <div class="control-group">
		                  <label class="control-label" for="new_avatar">上传新头像</label>
                          <div class="controls">
                             <input class="input-file" id="up_img"  name="up_img" placeholder="选择图片" type="file">
                          </div>
		                  <div class="controls">
                            <div style="float:left;max-width:auto;"><img style="display:none" id="target_img" src="<%=test_url %>"></div>
                            <div style="width:48px;height:48px;margin:10px;overflow:hidden; float:left;">
                              <img style="float:left;display:none;" id="preview" src="<%=test_url %>" ></div>
                            <div style="width:190px;height:195px;margin:10px;overflow:hidden; float:left;">
                              <img  style="float:left;display:none;" id="preview2" src="<%=test_url %>" ></div>
                              <input type="hidden" id="x" name="x" />
                              <input type="hidden" id="y" name="y" />
                              <input type="hidden" id="w" name="w" />
                              <input type="hidden" id="h" name="h" />
		                  </div>
		              </div>
		  
	                  <div class="form-actions">
                          <button class="btn btn-primary" type="submit">更新</button>&nbsp;&nbsp;
                      </div>
	                  </fieldset>
	                </form>
	                
			    </div>
			  </div>
          </div>
    </div>
  
  </div>  
  <hr/>
  <%- partial("footer",{"config":config}) %>
</div>
<script type="text/javascript" src="/javascripts/bootstrap-tab.js" charset="utf-8"> </script>
<script type="text/javascript" src="/javascripts/jquery.Jcrop.min.js" charset="utf-8"> </script>
<script type="text/javascript" src="/uploadify/swfobject.js"></script>
<script type="text/javascript" src="/uploadify/jquery.uploadify.v2.1.4.min.js"></script>
<script type="text/javascript">

var has_init_jcrop = false;
var jcrop_api = null;

 jQuery(function($){
    $('#setting_tab a').click(function (e) {
     e.preventDefault();
     if($(this).attr('href') == "#tab3" && has_init_jcrop == false){
        init_jcrop();
        has_init_jcrop = true;
     }
     
    $(this).tab('show');
  });

   $('#up_img').uploadify({
                'uploader'  : '/uploadify/uploadify.swf?var='+(new Date()).getTime(),
                'script'    : '/user/uploadpic',
                'folder'    : '<%= config.diary_url%>',
                'auto'      : true,
                'multi'     : false,
                'simUploadLimit' : 1,
                'queueSizeLimit' : 1,
                'sizeLimit' : 1024 * 1024,
                'fileExt'   : '*.png;*.jpg;*.jpeg',
                'fileDesc'  : '请选择图片文件', 
                'simUploadLimit':1,
                'width'     : 175,
                'height'    : 27,
                'onComplete'  : function(event, ID, fileObj, response, data) {
                    //|/public/images/upload/a341016378284328TubnpelC.jpg| 
                    var newPic = response;
                    var p1 = response.indexOf('|');
                    var p2 = response.lastIndexOf('|');
                    if(p1 == -1 || p2 == -1){
                      $("#alert-error").css({"display":"block"});
                      $("#error_msg").html(response);
                    }else{
                      newPic = response.substring(p1+1, p2);
                      newPic = newPic.substr(7);
                      $("#target_img").attr({'src':newPic});
                      $("#preview").attr({'src':newPic});
                      $("#preview2").attr({'src':newPic});

                      $("#target_img").show();
                      $("#preview").show();
                      $("#preview2").show();
                       
                      if(jcrop_api){
                        jcrop_api.destroy();
                      }
                      
                      init_jcrop();
                    }

                    
               }
    });

});

    

var init_jcrop = function(){
      // Create variables (in this scope) to hold the API and image size

      var boundx, boundy;
      
      $('#target_img').Jcrop({
        minSize: [48,48],
        setSelect: [0,0,190,190],
        onChange: updatePreview,
        onSelect: updatePreview,
        onSelect: updateCoords,
        aspectRatio: 0
      },
    function(){
        // Use the API to get the real image size
        var bounds = this.getBounds();
        boundx = bounds[0];
        boundy = bounds[1];
        // Store the API in the jcrop_api variable
        jcrop_api = this;
    });

    function updateCoords(c)
    {
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#w').val(c.w);
        $('#h').val(c.h);
    };
    function checkCoords()
    {
        if (parseInt($('#w').val())) return true;
        alert('Please select a crop region then press submit.');
        return false;
    };
      function updatePreview(c){
        if (parseInt(c.w) > 0)
        {
          var rx = 48 / c.w;        //小头像预览Div的大小
          var ry = 48 / c.h;

          $('#preview').css({
            width: Math.round(rx * boundx) + 'px',
            height: Math.round(ry * boundy) + 'px',
            marginLeft: '-' + Math.round(rx * c.x) + 'px',
            marginTop: '-' + Math.round(ry * c.y) + 'px'
          });
        }
        {
          var rx = 199 / c.w;       //大头像预览Div的大小
          var ry = 199 / c.h;
          $('#preview2').css({
            width: Math.round(rx * boundx) + 'px',
            height: Math.round(ry * boundy) + 'px',
            marginLeft: '-' + Math.round(rx * c.x) + 'px',
            marginTop: '-' + Math.round(ry * c.y) + 'px'
          });
        }
      };

};

</script>
          

                

    
