{% extends "head.html" %}
{% block content-detail %}
<script type="text/javascript" charset="utf-8" src="/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/simple_editor.js"></script>
<div class="container">
  <div class="row show-grid">
  <div class="span12">
   <ul class="breadcrumb">
    <li>
      <a href="/">首页</a>
      <span class="divider"></span>
    </li>
    <li class="active">添加日记</li>
   </ul>
  </div>
  </div>
  
    
  <hr/>
<footer>
    <p>&copy; Company 2012</p>
</footer>
</div>

{% endblock %}
          

                

    
