extends ../head

block content-detail
  script(charset="utf-8",src="/kindeditor/kindeditor-min.js")
  script(charset="utf-8",src="/kindeditor/lang/zh_CN.js")
  script(charset="utf-8",src="/javascripts/qq_editor.js")
  div.container
    div.row.show-grid
      div.span12
        ul.breadcrumb
          li
            a(href="/") 首页
            span.divider /
          li.active 浏览日记
    div.row.show-grid
      div.span8
        div.panel 123123123123123123123
      div.span4
        div.panel
          h4 作者 
          hr
        div.panel
          h4 作者其它日志 
          hr
        div.panel
          h4 作者感兴趣的日志 
          hr
    hr
    footer
      p &copy; Company 2012
          

                

    
