<%- partial("head",{userinfo:userinfo}) %>
<%
    var uemail = "";
    if(userinfo){
        uemail = userinfo.email;
    }
%>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fancybox.css" />
<script type="text/javascript" src="/javascripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/javascripts/jquery.metadata.js"></script>
<script type="text/javascript" src="/javascripts/jquery.nailthumb.1.0.min.js"></script>
<div class="container">
  <div class="row show-grid">    
    <div class="row">
      <div class="span8">
        <div class="panel">
          <div class="diary-title"><%= diary.title%>
            <span class="diary-subtitle">
              来自：&nbsp;<a href="/diary/<%= author_info._id %>/mlist"><%= author_info.nickname %>&nbsp;&nbsp;</a>
              <span class="entry-date"><%= diary.create_date%></span>
            </span>
          </div>

          <div class="content">
          <%- diary.content %>
          <%
            if(diary.up_img_thumb && diary.up_img_thumb != ""){
            %>
              <div id="diary_up_img">
                <a class="fancybox" data-fancybox-group="gallery" href="<%= diary.up_img%>"><img id="entry_img" class="entry-img" src="<%= diary.up_img%>"></a>
              </div>
            <%
            }
          %>

          </div>
          <div class="diary-tail">
            <div>
              <div class="jiathis_style">
                <span class="jiathis_txt">分享到：</span>
                <a class="jiathis_button_icons_1"></a>
                <a class="jiathis_button_icons_2"></a>
                <a class="jiathis_button_icons_3"></a>
                <a class="jiathis_button_icons_4"></a>
                <a class="jiathis jiathis_txt jtico jtico_jiathis" href="http://www.jiathis.com/share" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
              </div>
              <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1334623036661201" charset="utf-8"></script>
            </div>
            <div id="focus_div" class="pull-right">


            </div>
          </div>
        </div>
        <div class="panel">
          <div id="comment_div"></div>
          <div class="alert alert-error" id="alert-error" style="display:none;"></div>
          <form method="POST" action="" onsubmit="return doCommentSubmit('/comment/add');">
            <fieldset>
              <input type="hidden" name="action" value="comment">

              <input type="hidden" name="commenter" id="commenter" value="<%= uemail%>">
              <input id="diary_id" type="hidden" name="diary_id" value="<%=diary._id%>">
              <div class="control-group">
                <div class="controls">
                  <textarea class="input-xlarge" id="comment" name="comment" placeholder="发表你的评论" style="width:98%;height:80px;"></textarea>
                </div>
                <button class="btn btn-success" type="submit">发表评论</button>
                <span class="smaill help-inline">字数控制在<%= diary_config.comment_size[0]%>到<%= diary_config.comment_size[1]%>个直接</span>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      
        <div class="span4">
            <%- partial("../viewside",{"author_info":author_info, "config":config, "author_diarys":author_diarys,
          "author_focus_diarys":author_focus_diarys}) %>
      </div>
   
  
  </div>
  <hr/>
<%- partial("footer") %>
</div>

<script type="text/javascript" src="/javascripts/ejs_production.js"></script>
<script type="text/javascript">
    $(function(){
        jQuery('#diary_up_img').nailthumb({width:350,height:350,method:'resize',fitDirection:'top center'});
        $('.fancybox').fancybox({
               closeClick : true,
               openEffect : 'elastic',
				openSpeed  : 150,

				closeEffect : 'elastic',
				closeSpeed  : 150
           });


         render_viewlist("<%= diary._id%>");
         render_focus("<%= uemail%>","<%= diary._id%>",1);
        
    });
           
</script>




          

                

    
